<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div ng-app="myApp" ng-controller="DemoController">
    <h1>双向数据绑定</h1>
    <p><input type="text" placeholder="请输入name" ng-model="user.name"></p>
    <p>hello <strong>{{user.name}}</strong></p>
    <input type="button" value="获取user" ng-click="show()">
</div>
<script src="../../lib/angular/angular.js"></script>

<script>

    // 1、注册模块
    /**
     * 参数1：模块名字
     * 参数2：所依赖的模块
     * 设置一个参数是查询、两个参数是创建
     */
    var app = angular.module('myApp', []);
    // 2、设置控制器
    // 通过模块来创建一个控制器,这个控制器属于这个模块
    app.controller('DemoController', function ($scope) { // 控制器函数
        // 当控制器执行时会自动执行该函数
        $scope.user = {};
        $scope.user.name = '张三';
        $scope.show = function () {
            console.log($scope.user);
        }
    });

</script>
</body>
</html>